<!DOCTYPE html>
<html ng-app>
	<title> Croiche Jim D. Cabotaje</title>
<body>

<h3> Directives, Data binding and Filtering </h3>


<div ng-init="friends = [{name:'Xan', phone:'555-1276'},
                         {name:'Patrick', phone:'800-1212'},
                         {name:'Nikki', phone:'555-4321'},
                         {name:'Casi', phone:'555-5678'},
                         {name:'Daniel', phone:'555-8765'},
                         {name:'Boyjor', phone:'555-5678'}]">

 </div>

<label>Search: <input ng-model="searchText"></label>
<table id="searchTextResults">
  <tr><th>Name</th><th>Phone</th></tr>
  <tr ng-repeat="friend in friends | filter:searchText">
    <td>{{friend.name}}</td>
    <td>{{friend.phone}}</td>
  </tr>
</table>

<script src= "angular.min.js"></script>
</body>
</html>
